body {
  background-color: lightgreen;
}

footer {
    background-color: peachpuff;
}

main {
    display: flex;
  background-color: peachpuff;
}

header {
  width: 100vw;
  background-color: azure;
}

h1 {
  color: darkcyan;
}

article {
  background-color: lightpink;
  border: 1px solid #333;
  padding: 1em;
}
